include LICENSE.txt
include README.md
recursive-include geocontour *py
recursive-include geocontour/data *
recursive-include geocontour/tests *py
recursive-include geocontour/examples *py
recursive-include images *
include requirements.txt
include requirements+cartopy.txt
include setup.py
