include LICENSE.txt
include README.md
include CITATION.cff
recursive-include geocontour *py
recursive-include geocontour/data *npz
recursive-include geocontour/tests *py
recursive-include geocontour/examples *py
recursive-include images *
include requirements.txt
include requirements+cartopy.txt
include setup.py
